body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}

.darkModeToggle {
	display: flex;
	flex-direction: column;
	background-color: black;
	color: white;
}

header {
	background-color: #333;
	color: #fff;
	padding: 1rem 0;
	text-align: center;
}

label {
	width: 3rem;
	height: 1.2rem;
	position: relative;
	display: block;
	background: #ebebeb;
	border-radius: 2rem;
	box-shadow:
		inset 0 2rem 2rem rgba(0, 0, 0, 0.4),
		inset 0 2rem 2rem #ffffff;
	cursor: pointer;
	transition: 0.3s;
}

label:after {
	content: '';
	width: 1rem;
	height: 1rem;
	position: absolute;
	top: 0.125rem;
	left: 0.125rem;
	background: linear-gradient(#ffcc89, #d8860b);
	border-radius: 8rem;
	box-shadow: 0px 0.125rem 0.063rem rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

label:active:after {
	width: 1rem;
}

input {
	width: 0;
	height: 0;
	visibility: hidden;
}

input:checked + label {
	background: #242424;
}

input:checked + label:after {
	left: 3rem;
	transform: translateX(-100%);
	background: linear-gradient(180deg, #777, #3a3a3a);
}

.container,
.containerPortfolio {
	width: 70%;
	margin: auto;
}

.containerPortfolio li {
	list-style: url(/Images/metalmarious_Laptop.svg);
}

.nav {
	display: flex;
	justify-content: center;
	padding: 0.5rem 0;
}

.nav a {
	color: #fff;
	text-decoration: none;
	margin: 0 15px;
	font-weight: bold;
}

.nav a:hover {
	text-decoration: underline;
}

section {
	padding: 2rem 0;
}

#darkModeToggle img {
	width: 10%;
	max-width: 1rem;
	max-height: 1rem;
}

#skills img {
	width: 100%;
	max-width: 15rem;
	max-height: 5rem;
	flex-grow: 1;
}

#skills {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	gap: 0.5rem;
}

.section-title {
	border-bottom: 2px solid #333;
	padding-bottom: 0.5rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 1rem 0;
	width: auto;
}

.contact-form input,
.contact-form textarea {
	width: 80%;
	padding: 0.5rem;
	margin: 0.5rem 0;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.contact-form button {
	background-color: #333;
	color: #fff;
	padding: 0.75rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.contact-form button:hover {
	background-color: #555;
}
