body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}

.darkMode {
	background-color: black;
	color: white;
}

header {
	background-color: #333;
	color: #fff;
	padding: 1rem 0;
	text-align: center;
}

#toggle {
	width: 7rem;
	height: 2rem;
	border-radius: 4rem;
}

.container,
.containerPortfolio {
	width: 70%;
	margin: auto;
}

.nav {
	display: flex;
	justify-content: center;
	padding: 0.5rem 0;
}

.nav a {
	color: #fff;
	text-decoration: none;
	margin: 0 15px;
	font-weight: bold;
}

.nav a:hover {
	text-decoration: underline;
}

section {
	padding: 2rem 0;
}

.section-title {
	border-bottom: 2px solid #333;
	padding-bottom: 0.5rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 1rem 0;
	width: auto;
}

.contact-form input,
.contact-form textarea {
	width: 80%;
	padding: 0.5rem;
	margin: 0.5rem 0;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.contact-form button {
	background-color: #333;
	color: #fff;
	padding: 0.75rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.contact-form button:hover {
	background-color: #555;
}
